.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 220px;
  background: #111827;
  color: white;
  padding: 20px;
}

.sidebar button {
  width: 100%;
  margin-top: 10px;
}

.content {
  flex: 1;
  padding: 30px;
}
.menu-ativo {
  background: #1d4ed8;
}